body {
  margin: 0;
  font-family: "Comic Sans MS",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header__tittle{
  border: 1px solid #ddd;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  background: #61dafb;
}
