.count-contenedor{
    margin: 100px 0;
}

.button-margin{
    display: flex;
    justify-content: space-between;
}

.agregar-restar{
    background: #106881;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.agregar-button{
    background: #049804;
    color: #fff;
    border-radius: 30px;
    padding: 5px;
}